[Unit]
Description=iGPU node exporter service
After=multi-user.target

[Service]
User=root
Type=simple
Restart=always
ExecStart=/path/to/venv/bin/python3 /path/to/igpu_exporter.py 9101 http://<server_ip>:9101/metrics

[Install]
WantedBy=multi-user.target